 <div class="col-md-6" style="text-align: left">
            <a class="nav-icon text-decoration-none" href="#" onclick="printTable()" title="پرینت">
                <i class="bi bi-printer"></i>
            </a>
            <a class="nav-icon text-decoration-none" href="#"  onclick="exportToExcel()" title="اکسل">
                <i class="bi bi-file-earmark-spreadsheet"></i>
            </a>
            <a class="nav-icon text-decoration-none" href="#" onclick="exportToPDF()" title="پی دی اف">
                <i class="bi bi-file-earmark-pdf"></i>
            </a>

 </div>



