<!--sidebar with scroll -->
<aside class="sidebar-left border-right bg-white shadow" id="leftSidebar">
    <a href="#" class="btn collapseSidebar toggle-btn d-lg-none text-muted ml-2 mt-3" data-toggle="toggle">
        <i class="fe fe-x"><span class="sr-only"></span></i>
    </a>
    <nav class="vertnav navbar navbar-light">
        <!-- nav bar -->
        <div class="w-100 mb-4  d-flex">
            <a class="navbar-brand mx-auto mt-2 flex-fill text-center" href="#">
                <p class="text-muted nav-heading mt-4 mb-1">
                    <span class="account">واحد تعمیرات</span>
                </p>
            </a>
        </div>


        <ul class="navbar-nav flex-fill w-100 mb-2 account">
            <li class="nav-item mb-2">
                <a class="nav-link {% if segment in 'dashboard' %}active{% else %}{% endif %}"
                   href="{% url 'maintenance:dashboard' %}" aria-expanded="false">
                    <i class="fe fe-home fe-16"></i>
                    <span class="ml-3 item-text">داشبورد</span><span class="sr-only">(current)</span>
                </a>
            </li>


            <ul class="navbar-nav flex-fill w-100 mb-2 account">
                <li class="nav-item dropdown">
                    <a href="#failurpart" data-toggle="collapse" aria-expanded="false"
                       class="dropdown-toggle nav-link ">
                        <i class="fe fe-box fe-16"></i>
                        <span class="ml-3 item-text">ثبت اطلاعات</span><span class="sr-only"></span>
                    </a>
                    <ul class="collapse list-unstyled pl-4 w-100 {% if segment in 'failure repair service crash' %}show{% else %}{% endif %}"
                        id="failurpart">
{#                      <li class="nav-item ">#}
{#                            <a class="nav-link pl-3 {% if segment in 'failure1' %}active{% else %}{% endif %}"#}
{#                               href="{% url 'maintenance:mainRegisterFailure1' %}"><span#}
{#                                    class="ml-1 item-text">ثبت خرابی1</span></a>#}
{#                        </li>#}
                        <li class="nav-item ">
                            <a class="nav-link pl-3 {% if segment in 'failure' %}active{% else %}{% endif %}"
                               href="{% url 'maintenance:mainRegisterFailure' %}"><span
                                    class="ml-1 item-text">ثبت خرابی</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pl-3 {% if segment in 'repair' %}active{% else %}{% endif %}"
                               href="{% url 'maintenance:mainRegisterFailureRepair' %}"><span
                                    class="ml-1 item-text">ثبت تعمیر</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pl-3 {% if segment in 'service' %}active{% else %}{% endif %}"
                               href="{% url 'maintenance:mainRegisterService' %}"><span
                                    class="ml-1 item-text">ثبت سرویس</span></a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link pl-3 {% if segment in 'crash' %}active{% else %}{% endif %}"
                               href="{% url 'maintenance:mainRegisterCrash' %}"><span
                                    class="ml-1 item-text">ثبت سانحه</span></a>
                        </li>
                    </ul>
                </li>
            </ul>


         <li class="nav-item mb-2">
                <a class="nav-link {% if segment in 'history' %}active{% else %}{% endif %}"
                   href="{% url 'maintenance:mainAllHistory' %}" aria-expanded="false">
                    <i class="fe fe-layers fe-16"></i>
                    <span class="ml-3 item-text">سابقه لکوموتیوها</span><span class="sr-only">(current)</span>
                </a>
            </li>




         <li class="nav-item mb-2">
                <a class="nav-link {% if segment in 'edit1' %}active{% else %}{% endif %}"
                   href="{% url 'maintenance:edit_page1' %}" aria-expanded="false">
                    <i class="fe fe-edit fe-16"></i>
                    <span class="ml-3 item-text">ویرایش اطلاعات</span><span class="sr-only">(current)</span>
                </a>
            </li>



         <li class="nav-item mb-2 ">
                <a href="#"
                   class="nav-link {% if segment in 'report' %}active{% endif %}">
                    <i class="fe fe-check-circle fe-16"></i>
                    <span class="ml-3 item-text">گزارشات</span>

                </a>
            </li>


            <li class="nav-item mb-2">
                <a class=" nav-link {% if segment in 'shop' %}active{% else %}{% endif %}"
                   href="#">
                    <i class="fe fe-settings fe-16"></i>
                    <span class="ml-3 item-text">تنظیمات</span>
                </a>
            </li>

        </ul>
    </nav>
</aside>