
.table-container {
    max-height: 50vh;
    overflow-y: auto;
    position: relative;
    width: 100%;
    font-size: 1rem;
}

.table-container table {
    width: 100%;
    margin-bottom: 0;
    table-layout: fixed;
}


.table-container thead th {
    position: sticky;
    top: 0;
    background: #f8f9fa;
    z-index: 1;
    border-bottom: 2px solid #dee2e6;
}

.table-container th,
.table-container td {
    text-align: center;
    padding: 8px;
    font-size: 0.7rem;
}

/* تنظیمات پرینت */
@media print {
    .table-container {
        max-height: none !important;
        overflow-y: visible !important;
        position: static !important;
        padding: 0 !important;
        margin: 0 !important;
        top: 0 !important; /* اطمینان از شروع از بالا */
    }
    .table-container table {
        table-layout: fixed !important;
        width: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
    }
    .table-container thead th {
        position: static !important; /* غیرفعال کردن sticky در پرینت */
        background: #fff !important; /* جلوگیری از مشکلات پس‌زمینه */
    }
    .table-container th,
    .table-container td {
        padding: 5px !important;
        font-size: 0.7rem !important;
        text-align: center !important;
        vertical-align: middle !important;
    }
}

@media (max-width: 768px) {
    .table-container {
        max-height: 200px;
    }
    .table-container th,
    .table-container td {
        /*font-size: 14px;*/
        font-size: 0.875rem;
        padding: 6px;
    }
}