{% extends "maintenance/layout/base.html" %}

{% block title %} Page 404 {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

    <link rel="stylesheet" href="/static/css/reportStyle.css?v0.1">
    <script type="text/javascript" src="/static/js/contract.js?v1.7"></script>
{% endblock stylesheets %}

{% block content %}
    <div class="container-fluid">


        <div class="row justify-content-center">


            <div class="col-12 ">
                <div class="card my-4">
                    <div class="card-body">
                        <h2 class="card-title account">انتخاب لکوموتیو</h2>
                    </div>

                </div>


                <div class="row g-1 justify-content-center" >
                    <div class="col-md-2 my-1">
                        <a class="text-decoration-none" href="#">
                            <div class="card"
                                 onclick="selectCard(this);">
                                <div class="card-body">
                                    <h5 class="card-title">7019</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-2   my-1">
                        <a class="text-decoration-none" href="#">
                        <div class="card"
                             onclick="selectCard(this);">
                            <div class="card-body">
                                <h5 class="card-title">7020</h5>
                            </div>
                        </div>
                        </a>
                    </div>
                    <div class=" col-md-2   my-1">
                        <a class="text-decoration-none" href="#">
                        <div class="card"
                             onclick="selectCard(this); showReportDetails('گزارش موجودی انبار', 'بررسی موجودی کالاها و نیازهای تدارکاتی انبار.')">
                            <div class="card-body">
                                <h5 class="card-title">7021</h5>
                            </div>
                        </div>
                        </a>
                    </div>
                    <div class=" col-md-2   my-1">
                        <a class="text-decoration-none" href="#">
                        <div class="card"
                             onclick="selectCard(this); showReportDetails('گزارش رضایت مشتریان', 'تحلیل بازخورد مشتریان از خدمات و محصولات.')">
                            <div class="card-body">
                                <h5 class="card-title">7022</h5>
                            </div>
                        </div>
                        </a>
                    </div>
                    <div class=" col-md-2   my-1">
                        <a class="text-decoration-none" href="#">
                        <div class="card"
                             onclick="selectCard(this); showReportDetails('گزارش مالی سالانه', 'بررسی درآمد، هزینه‌ها و سود سال گذشته.')">
                            <div class="card-body">
                                <h5 class="card-title">7023</h5>
                            </div>
                        </div>
                        </a>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-2 my-1">
                        <a class="text-decoration-none" href="#">
                        <div class="card"
                             onclick="selectCard(this); showReportDetails('گزارش تحلیل رقبا', 'بررسی استراتژی‌های رقبا در بازار.')">
                            <div class="card-body">
                                <h5 class="card-title">7024</h5>
                            </div>
                        </div>
                        </a>
                    </div>
                    <div class=" col-md-2 my-1">
                        <a class="text-decoration-none" href="#">
                        <div class="card"
                             onclick="selectCard(this); showReportDetails('گزارش بهره‌وری تولید', 'تحلیل عملکرد خط تولید.')">
                            <div class="card-body">
                                <h5 class="card-title">7025</h5>
                            </div>
                        </div>
                        </a>
                    </div>
                    <div class="col-md-2 my-1">
                        <a class="text-decoration-none" href="#">
                        <div class="card"
                             onclick="selectCard(this); showReportDetails('گزارش کیفیت محصولات', 'ارزیابی کیفیت محصولات تولیدی.')">
                            <div class="card-body">
                                <h5 class="card-title">7026</h5>
                            </div>
                        </div>
                        </a>
                    </div>
                    <div class="col-md-2 my-1">
                        <a class="text-decoration-none" href="#">
                        <div class="card"
                             onclick="selectCard(this); showReportDetails('گزارش بازاریابی', 'تحلیل کمپین‌های بازاریابی.')">
                            <div class="card-body">
                                <h5 class="card-title">7027</h5>
                            </div>
                        </div>
                        </a>
                    </div>
                    <div class="col-md-2 my-1">
                        <a class="text-decoration-none" href="#">
                        <div class="card"
                             onclick="selectCard(this); showReportDetails('گزارش پشتیبانی فنی', 'بررسی عملکرد تیم پشتیبانی.')">
                            <div class="card-body">
                                <h5 class="card-title">7085</h5>
                            </div>
                        </div>
                        </a>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-2 my-1">
                        <a class="text-decoration-none" href="#">
                        <div class="card"
                             onclick="selectCard(this); showReportDetails('گزارش تحلیل بازار', 'بررسی روندهای بازار و پیش‌بینی‌ها.')">
                            <div class="card-body">
                                <h5 class="card-title">7086</h5>
                            </div>
                        </div>
                        </a>
                    </div>
                    <div class="col-md-2 my-1">
                        <a class="text-decoration-none" href="#">
                        <div class="card"
                             onclick="selectCard(this); showReportDetails('گزارش هزینه‌های عملیاتی', 'تحلیل هزینه‌های عملیاتی شرکت.')">
                            <div class="card-body">
                                <h5 class="card-title">7087</h5>
                            </div>
                        </div>
                        </a>
                    </div>
                    <div class="col-md-2 2my-1">
                        <a class="text-decoration-none" href="#">
                        <div class="card"
                             onclick="selectCard(this); showReportDetails('گزارش امنیت سایبری', 'ارزیابی وضعیت امنیت سیستم‌ها.')">
                            <div class="card-body">
                                <h5 class="card-title">7088</h5>
                            </div>
                        </div>
                        </a>
                    </div>
                    <div class="col-md-2 my-1">
                        <a class="text-decoration-none" href="#">
                        <div class="card"
                             onclick="selectCard(this); showReportDetails('گزارش آموزش کارکنان', 'تحلیل برنامه‌های آموزشی.')">
                            <div class="card-body">
                                <h5 class="card-title">7089</h5>
                            </div>
                        </div>
                        </a>
                    </div>
                    <div class="col-md-2 my-1">
                        <a class="text-decoration-none" href="#">
                        <div class="card"
                             onclick="selectCard(this); showReportDetails('گزارش توسعه محصول', 'بررسی پیشرفت پروژه‌های جدید.')">
                            <div class="card-body">
                                <h5 class="card-title">7090</h5>
                            </div>
                        </div>
                        </a>
                    </div>
                </div>

                 <div class="row justify-content-center">
                    <div class="col-md-2 my-1">
                        <a class="text-decoration-none" href="#">
                        <div class="card"
                             onclick="selectCard(this); showReportDetails('گزارش تحلیل بازار', 'بررسی روندهای بازار و پیش‌بینی‌ها.')">
                            <div class="card-body">
                                <h5 class="card-title">7091</h5>
                            </div>
                        </div>
                        </a>
                    </div>
                    <div class="col-md-2 my-1">
                        <a class="text-decoration-none" href="#">
                        <div class="card"
                             onclick="selectCard(this); showReportDetails('گزارش هزینه‌های عملیاتی', 'تحلیل هزینه‌های عملیاتی شرکت.')">
                            <div class="card-body">
                                <h5 class="card-title">7092</h5>
                            </div>
                        </div>
                        </a>
                    </div>
                    <div class="col-md-2 my-1">
                        <a class="text-decoration-none" href="#">
                        <div class="card"
                             onclick="selectCard(this); showReportDetails('گزارش امنیت سایبری', 'ارزیابی وضعیت امنیت سیستم‌ها.')">
                            <div class="card-body">
                                <h5 class="card-title">7093</h5>
                            </div>
                        </div>
                        </a>
                    </div>
                    <div class="col-md-2 my-1">
                        <a class="text-decoration-none" href="#">
                        <div class="card"
                             onclick="selectCard(this); showReportDetails('گزارش آموزش کارکنان', 'تحلیل برنامه‌های آموزشی.')">
                            <div class="card-body">
                                <h5 class="card-title">7094</h5>
                            </div>
                        </div>
                        </a>
                    </div>
                    <div class="col-md-2 my-1">
                        <a class="text-decoration-none" href="#">
                        <div class="card"
                             onclick="selectCard(this); showReportDetails('گزارش توسعه محصول', 'بررسی پیشرفت پروژه‌های جدید.')">
                            <div class="card-body">
                                <h5 class="card-title">7095</h5>
                            </div>
                        </div>
                        </a>
                    </div>
                </div>

                 <div class="row justify-content-center">
                    <div class="col-md-2 my-1">
                        <a class="text-decoration-none" href="#">
                        <div class="card"
                             onclick="selectCard(this); showReportDetails('گزارش تحلیل بازار', 'بررسی روندهای بازار و پیش‌بینی‌ها.')">
                            <div class="card-body">
                                <h5 class="card-title">7096</h5>
                            </div>
                        </div>
                        </a>
                    </div>
                    <div class="col-md-2 my-1">
                        <a class="text-decoration-none" href="#">
                        <div class="card"
                             onclick="selectCard(this); showReportDetails('گزارش هزینه‌های عملیاتی', 'تحلیل هزینه‌های عملیاتی شرکت.')">
                            <div class="card-body">
                                <h5 class="card-title">7097</h5>
                            </div>
                        </div>
                        </a>
                    </div>
                    <div class="col-md-2 my-1">
                        <a class="text-decoration-none" href="#">
                        <div class="card"
                             onclick="selectCard(this); showReportDetails('گزارش امنیت سایبری', 'ارزیابی وضعیت امنیت سیستم‌ها.')">
                            <div class="card-body">
                                <h5 class="card-title">7098</h5>
                            </div>
                        </div>
                        </a>
                    </div>
                    <div class="col-md-2 my-1">
                        <a class="text-decoration-none" href="#">
                        <div class="card"
                             onclick="selectCard(this); showReportDetails('گزارش آموزش کارکنان', 'تحلیل برنامه‌های آموزشی.')">
                            <div class="card-body">
                                <h5 class="card-title">7099</h5>
                            </div>
                        </div>
                        </a>
                    </div>
                    <div class=" col-md-2 my-1">
                        <a class="text-decoration-none" href="#">
                        <div class="card"
                             onclick="selectCard(this); showReportDetails('گزارش توسعه محصول', 'بررسی پیشرفت پروژه‌های جدید.')">
                            <div class="card-body">
                                <h5 class="card-title">7100</h5>
                            </div>
                        </div>
                        </a>
                    </div>
                </div>

            </div>

        </div>

    </div>


{% endblock content %}


{% block javascripts %}
    <script>
        jalaliDatepicker.startWatch({
            minDate: "attr",
            maxDate: "attr"
        });
    </script>


    <script>

        function selectCard(card) {
            document.querySelectorAll('.card').forEach(c => c.classList.remove('selected'));
            card.classList.add('selected');
        }
    </script>


{% endblock javascripts %}